{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Title</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td><a href="{{ path('detail', {id: todo.id}) }}"><h3>{{ todo.title }}</h3></a></td> 
                <td></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('update', {id: todo.id}) }}">
                        <i class="fas fa-pen-square"></i> Edit
                    </a>
                    <a class="btn btn-danger" href="{{ path('remove', {id: todo.id}) }}">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}